ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
li:hover{
  text-decoration: underline;
}

li{
    float: right;
}
li a {
    display: inline;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
  }
#search{
display: flex;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
#bar{
  display: block;
  border-radius: 25px;
  padding: 5px;
  width: 75vh;
}
#button{
  display: block;
    padding: 2px;
    margin: auto;
    margin-top: 20px;
}
.headlink{
  display: flex;
  flex-direction: row-reverse;
  margin-right: 10px;
}
#headbar{
  margin: 35px 25px;
}
#heada{
margin-left: 15px;
color: red;
}
#line{
  border-bottom: 1px solid grey;
  margin: 0;
  padding: 0;
}

.fields{
  display: inline-block;
  min-width: 167px;
  padding: 10px;
}
.inputs{
  display: inline-block;
  width: 50vh;
}
.input{
  display: inline-block;
  width: 368.5px;
}

#asearch{
  background-color: rgba(16, 48, 226, 0.914);
  color: white;
  border-radius: 2px;
  border: none;
  padding: 8px;
  text-align: right;
  float: right;
  margin: 10px 0px;
}
#pages{
  margin-left: 10px;
  margin-bottom: 10px;
}
#square{
  margin: 40px 2% 0 45px;
}

